### Function

In [1]:
print("this is my prog")

this is my prog

In [2]:
l=[1,2,3,4,5]

In [3]:
len(l)

5

In [4]:
def test():
    pass

In [5]:
def test1():
    print("this is my very very first function")

In [7]:
test1()

this is my very very first function

In [8]:
def test2():
    return "this is my function with return"

In [12]:
test2() + "raj"

'this is my function with returnraj'

In [13]:
def test3():
    return 1,3,"PWSkills",32.32

In [14]:
test3()

(1, 3, 'PWSkills', 32.32)

In [15]:
a=1,2,3,4,5

In [17]:
a

(1, 2, 3, 4, 5)

In [19]:
a,b,c,d=1,2,3,True

In [20]:
a

1

In [21]:
d

True

In [22]:
test3()

(1, 3, 'PWSkills', 32.32)

In [25]:
test3()[2]

'PWSkills'

In [26]:
test3()[3]

32.32

In [27]:
a,b,c,d=test3()

In [28]:
a

1

In [29]:
b

3

In [30]:

c

'PWSkills'

In [31]:
d

32.32

In [32]:
def test4():
    a=3*4+5
    return a

In [33]:
test4()

17

In [34]:
type(test4())

int

In [36]:
def test5(a,b):
    c=a+b
    return c

In [37]:
test5()

TypeError: test5() missing 2 required positional arguments: 'a' and 'b'

In [38]:
test5(4,4)

8

In [39]:
test5("raj", "kumar")

'rajkumar'

In [41]:
test5([1,2,3,4],[4,5,6,7,8])

[1, 2, 3, 4, 4, 5, 6, 7, 8]

In [44]:
test5(a="kumar",b="raj")

'kumarraj'

In [45]:
l=[1,2,3,4,5,"raj","PWSkills",[a,b,c,d]]

In [48]:
### create a function which will take list as a input and give me a final list with all the numeric value
def test6(a):
    n=[]
    for i in a :
        if type(i)==int or type(i)==float:
            n.append(i)
    return n

In [49]:
test6(l)

[1, 2, 3, 4, 5]

In [57]:
def test7(a):
    n=[]
    for i in a :
        if type(i)==list:
            for j in i:
                if type(j)==int or type (j)==float:
                    n.append(j)
        else:
            if type(i)== int or type(i)==float:
                n.append(i)
    return n

In [54]:
test7(l)

[1, 2, 3, 4, 5, 1, 3, 32.32]

In [55]:
l

[1, 2, 3, 4, 5, 'raj', 'PWSkills', [1, 3, 'PWSkills', 32.32]]

In [1]:
def test(a,b,c,d,e):
    pass

In [2]:
test(1,2,3,4,5)

In [3]:
def test1(*args):
    return args

In [4]:
test1(2)

(2,)

In [6]:
test1(1,2,3,4,5,6,7,8)

(1, 2, 3, 4, 5, 6, 7, 8)

In [7]:
test1("raj",[1,2,3,4,5],(5,6,7,8,9))

('raj', [1, 2, 3, 4, 5], (5, 6, 7, 8, 9))

In [8]:
def test2(*raj):
    return raj

In [9]:
test2(3,4,5,6,7,8)

(3, 4, 5, 6, 7, 8)

In [10]:
def test3(*args,a):
    return args,a

In [12]:
test3(3)

TypeError: test3() missing 1 required keyword-only argument: 'a'

In [13]:
test3(1,2,3,4,5,a="raj")

((1, 2, 3, 4, 5), 'raj')

In [14]:
def test4(*args):
    l=[]
    for i in args:
        if type (i)==list:
            l.append(i)
    return l

In [16]:
test4(1,2,3,[1,2,3,4,5],(1,2,3,4,5,6),"raj",[3,4,5],[456,789,102])

[[1, 2, 3, 4, 5], [3, 4, 5], [456, 789, 102]]

In [17]:
def test5(**kwargs):
    return kwargs

In [18]:
test5()

{}

In [19]:
type(test5())

dict

In [20]:
test5(a=34,b=23,c=[12,3,4,5],d=("raj"))

{'a': 34, 'b': 23, 'c': [12, 3, 4, 5], 'd': 'raj'}

In [24]:
def test6(**kwargs):
    for i in kwargs.keys():
        if type(kwargs[i])==list:
            return i,kwargs[i]

In [25]:
test6(a=34,b=45,c=[1,2,3,4,5],d="raj")

('c', [1, 2, 3, 4, 5])

In [26]:
def test7(*args,**kwargs):
    return args,kwargs

In [27]:
test7(1,2,3,4,5,a=34,b=89)

((1, 2, 3, 4, 5), {'a': 34, 'b': 89})

### Generator Function

In [28]:
range(1,10)

range(1, 10)

In [29]:
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

In [30]:
l=[1,2,3,4,5,6,7,8,9,"raj","patil"]

In [31]:
def test1(a):
    n=[]
    for i in a:
        if type(i)==int:
            n.append(i)
    return n

In [33]:
test1(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
Fibonacci:

    0,1,2,3,5,8,13,21,34

In [37]:
def test_fib(n):
    a,b=0,1
    for i in range(n):
        yield a
        a,b=b,a+b

In [38]:
test_fib(10)

In [39]:
for i in test_fib(10):
    print(i)

0
1
1
2
3
5
8
13
21
34