## Loops Statements
1. while loop
2. for loop 
3. nested loop
4. Loop control(break,continue,pass)

In [2]:
## while loop with esle condition
joining_age=22
while joining_age<=60:
    joining_age=joining_age+1
    print(joining_age)
else:
    print("Its time for retirement")

23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
Its time for retirement

In [5]:
## ATM machine with 2000 rs
total_amount=2000
while total_amount!=0:
    total_amount=total_amount-100
    print(total_amount)
else:
    print("Put more money in my bank account")

1900
1800
1700
1600
1500
1400
1300
1200
1100
1000
900
800
700
600
500
400
300
200
100
0
Put more money in my bank account

## For Loop

In [1]:
lst=["banana","apple","grape",1,2,3,4,5,"toothbrush","maxfresh","toys"]

In [8]:
type(lst)

list

In [9]:
lst[0]

'banana'

In [3]:
lst[8]

'toothbrush'

In [14]:
lst

['banana', 'apple', 'grape', 1, 2, 3, 4, 5, 'toothbrush', 'maxfresh', 'toys']

In [15]:
for x in lst:
    print(x)

banana
apple
grape
1
2
3
4
5
toothbrush
maxfresh
toys

In [21]:
fruits_list=["Watermelon","Cherry","Papaya","Mango","Dragon"]

In [24]:
for a in fruits_list:
    print(a)
    if a=="Cherry":
        print("The fruit is cherry ")

Watermelon
Cherry
The fruit is cherry
Papaya
Mango
Dragon

In [25]:
for a in fruits_list:
    print(a)
    if a=="Cherry":
        print("The fruit is cherry ")
        break

Watermelon
Cherry
The fruit is cherry

In [27]:
fruit="Watermelon"
for x in fruit:
    print(x)

W
a
t
e
r
m
e
l
o
n

In [30]:
fruit="Watermelon"
for x in fruit:
    print(x,end="")

Watermelon

In [50]:
#### Nested loops
n=7
for i in range(0,n):
    for j in range (0,i+1):
        print("*",end ="")
    print("\r")

*
**
***
****
*****
******
*******

In [4]:
n=10
for i in range(n):
    print(" "*(n-i),end='')
    for j in range(i*2+1):
        print("*",end="")
    print()

          *
         ***
        *****
       *******
      *********
     ***********
    *************
   ***************
  *****************
 *******************

In [ ]:
n=10
for i in range(n):
    print(" "*(n-i),end='')
    for j in range(i*1+1):
        print("*",end="")
    print()

In [33]:
### range
for i in range(1,6):
    print(i)

1
2
3
4
5

In [7]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [51]:
## Loop controls
### Break and continue
fruits_list=["Watermelon","Cherry","Papaya","Mango","Dragon"]

In [54]:
## break
for i in fruits_list:
    if i == "Papaya":
        print("The fruit is Papaya")
        break
    print(i)

Watermelon
Cherry
The fruit is Papaya

In [55]:
## Pass
for i in fruits_list:
    if i == "Papaya":
        print("The fruit is Papaya")
        pass
    print(i)

Watermelon
Cherry
The fruit is Papaya
Papaya
Mango
Dragon

In [56]:
## Continue
for i in fruits_list:
    if i == "Papaya":
        print("The fruit is Papaya")
        continue
    print(i)

Watermelon
Cherry
The fruit is Papaya
Mango
Dragon

## Logical Operators
1. And 
2. Or 
3. not

In [1]:
True and True

True

In [2]:
True or False

True

In [5]:
# lets define two variables having boolean values True and False
START=True
STOP=False

## Print the two values as it is 
print(f"Defined value of START={START}")
print(f"Defined value of START={STOP}\n")

## if can aslo be written as 
print(f"Defined value of START={START}")
print(f"Value of STOP by negating START={not START}\n")

## Alternatively 
print(f"Value of START by negating STOP={not STOP}")
print(f"Defined value of START={STOP}\n")

Defined value of START=True
Defined value of START=False

Defined value of START=True
Value of STOP by negating START=False

Value of START by negating STOP=True
Defined value of START=False

In [4]:
not True

False

In [8]:
not int(bool(0))

True

In [9]:
bool(1)

True

In [10]:
int(bool(1))

1

In [11]:
not int(bool(1))

False

In [12]:
not 1

False

In [13]:
not 0

True

In [15]:

START=1
STOP=0

## Print the two values as it is 
print(f"Defined value of START={START}")
print(f"Defined value of START={STOP}\n")

## if can aslo be written as 
print(f"Defined value of START={START}")
print(f"Value of STOP by negating START={int(not START)}\n")

## Alternatively
print(f"Value of START by negating STOP={int(not STOP)}")
print(f"Defined value of START={STOP}\n")

Defined value of START=1
Defined value of START=0

Defined value of START=1
Value of STOP by negating START=0

Value of START by negating STOP=1
Defined value of START=0

In [16]:
not 2

False

In [17]:
not 3889

False

In [19]:
not -3453

False

In [22]:
zero=0
one=1
print(f"boolean value of no.{zero} is {bool(zero)}")
print(f"boolean value of no.{one} is {bool(one)}")
print(f"negation of {zero} is {not zero} and negation of {one} is {not one}")
print("\n#------------------------#\n")

boolean value of no.0 is False
boolean value of no.1 is True
negation of 0 is True and negation of 1 is False

#------------------------#

In [23]:
Some_negative_integer=-5
Some_positive_integer=5
print(f"boolean value of no. {Some_negative_integer} is {bool(Some_negative_integer)}")
print(f"boolean value of no. {Some_positive_integer} is {bool(Some_positive_integer)}")
print(f"negation of {Some_negative_integer} is {not Some_negative_integer}\
and negation of {Some_positive_integer} is {not Some_positive_integer}")

boolean value of no. -5 is True
boolean value of no. 5 is True
negation of -5 is Falseand negation of 5 is False

In [24]:
not -5

False

In [26]:
bool (5)

True

In [27]:
not(-5)

False

In [28]:
not(+5)

False

In [29]:
Some_negative_float=-3.69
Some_positive_float=3.5
print(f"boolean value of no. {Some_negative_float} is {bool(Some_negative_float)}")
print(f"boolean value of no. {Some_positive_float} is {bool(Some_positive_float)}")
print(f"negation of {Some_negative_float} is {not Some_negative_float} \
      and negation of {Some_positive_float} is {not Some_positive_float}")

boolean value of no. -3.69 is True
boolean value of no. 3.5 is True
negation of -3.69 is False       and negation of 3.5 is False

## Logical And

In [30]:

VEGETABLES= True
SALT= False
DISH= VEGETABLES and SALT
print(f"Dish contain VEGETABLES :{VEGETABLES}")
print(f"Dsih contain SALT :{SALT}")
print(f"Hence dish prepared was good :{DISH}\n")

Dish contain VEGETABLES :True
Dsih contain SALT :False
Hence dish prepared was good :False

In [33]:
True * False

0

In [34]:
False * True

0

In [35]:
not (False) * True

True

In [36]:
False*False

0

In [39]:
False * (not(False))

0

In [40]:
True*False

0

In [41]:
## Precedence
not(True)*False

True

#### BODMAS
#### B=BRACKET 
#### O=OF 
#### D=DIVISION 
#### M=MULITPICATION 
#### A=ADDITION 
#### S=SUBTRACTION

In [42]:
not(False)*False==True

True

In [46]:
print((not(False))* False)

0

In [48]:
(1+2)*3

9

In [49]:
2*3+40/5

14.0

In [50]:
(2*3+40)/5

9.2

### Equality Operators
1. is
2. is not
3. ==
4. !=

In [51]:
## Is condition
lst_a=[1,2,3,4,5]
lst_b=[1,2,3,4,5]

In [52]:
print(id(lst_a))
print(id(lst_b))

2473926419008
2473926531008

In [53]:
lst_a is lst_b

False

In [54]:
## Is not condition
lst_a=[1,2,3,4,5]
lst_b=[1,2,3,4,5]
lst_a is not lst_b

True

In [55]:
#### == Condition
lst_a==lst_b

True

In [56]:
## != condition
lst_a!=lst_b

False

In [57]:
str1="raj"
str2="raj"
print(id(str1))
print(id(str2))

2473926432368
2473926432368

In [58]:
### str is immutable
str1="raj"
str2="raj1"
print(id(str1))
print(id(str2))

2473926432368
2473923834288

In [59]:
lst_a

[1, 2, 3, 4, 5]

In [61]:
lst_a[0]=10

In [62]:
lst_a

[10, 2, 3, 4, 5]

In [63]:
str1

'raj'

In [64]:
str1[0]

'r'

#### Comparision Operation
#### < less than
#### <= less than or equal to
#### > greater than
#### >= greater than or equal to

In [65]:
maximum_speed_of_bike=170
max_speed_of_car=220
print(f"bike is faster than car:{maximum_speed_of_bike>max_speed_of_car}")

bike is faster than car:False

In [66]:
maximum_speed_of_bike=170
max_speed_of_car=220
print(f"bike is faster than car:{maximum_speed_of_bike<max_speed_of_car}")

bike is faster than car:True

In [67]:
maximum_speed_of_bike=170
max_speed_of_car=220
print(f"bike is faster than car:{maximum_speed_of_bike<=max_speed_of_car}")

bike is faster than car:True

In [68]:
maximum_speed_of_bike=170
max_speed_of_car=220
print(f"bike is faster than car:{maximum_speed_of_bike>=max_speed_of_car}")

bike is faster than car:False

#### Arthimetic Opereations
#### + = Addition
#### - = subtraction
#### * = Multiplication
#### / = True division
#### // = Integer division
#### % = Modulo Operator

In [69]:
a= 85 
b=150

In [70]:
b*a

12750

In [71]:
b+a

235

In [72]:
a/b

0.5666666666666667

In [73]:
a//b

0

In [74]:
b//a

1

In [75]:
b/a

1.7647058823529411

In [76]:
b%a

65

In [77]:
## Display Remainder
a%b

85

#### Bitwise Operator
#### ~ = bitwise complement (prefix unary operator)
#### & = bitwise and
#### | = bitwise or 
#### ^ = bitwise exclusive-or
#### << = shift bits left,filling in wit zeros
#### >> = shift bits right,filling in with sign bit

In [78]:
var= 10
bin(var)

'0b1010'

In [79]:
~var

-11

In [80]:
True | False

True

In [82]:
False & False

False

In [86]:
var<<1

20

In [85]:
var>>1

5

## Strings

In [87]:
str1="Welcome to Data Science Master Day 2"

In [89]:
type(str1)

str

In [91]:
str1[0]

'W'

In [92]:
str1="Dada Saheb"

In [93]:
str1

'Dada Saheb'

In [94]:
str="PW Skills Data Science"

In [95]:
str[5]

'i'

In [96]:
### Slice OPeration
str[5:]

'ills Data Science'

In [97]:
str[5:11]

'ills D'

In [98]:
str[-1]

'e'

In [99]:
str[-1:]

'e'

In [100]:
str[-3:]

'nce'

In [102]:
str[7:-3]

'ls Data Scie'

In [103]:
str[-7:5]

''

In [104]:
str[-10:10]

''

In [105]:
str[:-1]

'PW Skills Data Scienc'

In [106]:
str[:]

'PW Skills Data Science'

In [111]:
name="Rajvaibhav"
name[-10:3]

'Raj'

In [113]:
str[::-1]

'ecneicS ataD sllikS WP'

In [114]:
str[::-2]

'eniSaa liSW'

In [115]:
str[6::-1]

'likS WP'

In [116]:
str[6:3:-1]

'lik'

In [117]:
str[::-3]

'eeSt lSP'

In [118]:
str[::5]

'PiDSc'

In [119]:
name="Rajvaibhav"

In [121]:
name

'Rajvaibhav'

In [124]:
name[::-1]

'vahbiavjaR'

In [125]:
name[::-3]

'vbvR'

In [126]:
name[::-10]

'v'

In [128]:
name[4::-1]

'avjaR'

In [130]:
name[4:1:-1]

'avj'

In [131]:
course_name="Data Science Masters"
course_name[5:12]

'Science'

In [133]:
course_name[11:4:-1]

'ecneicS'

In [136]:
#### Concatination OPeration
course_name + "Course"

'Data Science MastersCourse'

In [137]:
print("Hello"+"World")

HelloWorld

In [138]:
course_name*5

'Data Science MastersData Science MastersData Science MastersData Science MastersData Science Masters'

In [139]:
len(course_name)

20

In [142]:
### Find Function
course_name.find("n")

9

In [144]:
course_name.find("D")

0

In [146]:
course_name.find("a",2,10)

3

In [147]:
course_name.find("z")

-1

In [148]:
#### Count()
course_name.count("a")

3

In [149]:

course_name.count("e")

3

In [151]:
course_name

'Data Science Masters'

In [153]:
course_name.count(" ")

2

In [154]:
course_name.find("a",2,10)

3

In [156]:
course_name.find("Science")

5

### String Split Function

In [163]:
course_name

'Data Science Masters'

In [164]:
course_name.split(' ')

['Data', 'Science', 'Masters']

In [166]:
course_name.split('S')

['Data ', 'cience Masters']

In [167]:
course_name.partition('S')

('Data ', 'S', 'cience Masters')

In [168]:
course_name.partition('s')

('Data Science Ma', 's', 'ters')

In [169]:
### String uppper and lower case
course_name.upper()

'DATA SCIENCE MASTERS'

In [170]:
course_name.lower()

'data science masters'

In [171]:
course_name.swapcase()

'dATA sCIENCE mASTERS'

In [172]:
course_name.title()

'Data Science Masters'

In [173]:
name="raj"

In [174]:
name

'raj'

In [176]:
name.title()

'Raj'